@import "tailwindcss";

:root {
    --accent: #f97316;
    --accent-weak: rgba(249, 115, 22, 0.16);
}

body {
    background-color: #ffffff;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}